<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
    <listeners>
        <listener class-name="com.contest.tests.ExtentReportListeners" />
    </listeners>
    <test name="ClassLevelTests">
        <classes>
            <class name="com.contest.tests.TelecomProjectTests" />
        </classes>
    </test>
</suite>